<div id="portfolio-index-container" class="portfolio-container">
    <header>
        <% if current_user.manager_role %>
            <h1>Customer Portfolios</h1>
        <% else %>
            <h1>Portfolios</h1>
        <% end %>
        <div class="sign-links">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav" %>
            <% if can? :filter, Stock %>
                <%=  link_to 'Filter Stocks', managers_filter_path(current_user), class: "nav" %>
            <% end %>
        </div>
    </header>

    <div class="portfolios-container">
        <% if can? :crud, User %>
            <% Portfolio.all.each do |p| %>
                <% if p.manager_id == current_user.id %>
                        <div class="customer-portfolio-container">
                            <div class="customer-portfolios-list">
                                <h1><a href="/portfolios/<%=p.id%>"><%= p.user.username %></a></h1>
                                <% p.orders.each do |o| %>
                                    <% if o.status == "pending" %>
                                        <p>Purchase Order: <%= link_to(o.symbol, edit_portfolio_order_path(portfolio_id: o.portfolio.id, id: o.id)) %></p>
                                    <% elsif o.status == "pending sale" %>
                                        <p>Pending Sale: <%= link_to(o.symbol, edit_portfolio_order_path(portfolio_id: o.portfolio.id, id: o.id)) %></p>
                                    <% end %>
                                <% end %>
                                <div class="portfolio-info">
                                    <% if p.direction == "Down" %> 
                                        <p class="down"><%= p.direction %></p>
                                    <% else %>
                                        <p class="up"><%= p.direction %></p>
                                    <% end %>
                                    <p> <%= number_with_precision(p.return_percentage, precision: 2) %></p>
                                </div>
                            </div>
                        </div>
                <% end %>
            <% end %>
        <% else %>
            <% @portfolios.each do |p| %>
                <a href="/portfolios/<%= p.id %>">
                    <div class="portfolios-list">
                        <h1><%= p.name.capitalize %></h1>
                        <div class="portfolio-info">
                           <% if p.direction == "Down" %> 
                                <p class="down"> <%= p.direction %></p>
                            <% else %>
                                <p class="up"><%= p.direction %></p>
                            <% end %>
                            <p> <%= number_with_precision(p.return_percentage, precision: 2) %>%</p>
                        </div>
                    </div>
                </a>
            <% end %>
        <% end %>
    </div>

</div>