Welcome | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<% if can? :crud, Order %>
    <% Portfolio.all.each do |p| %>
        <% if p.manager_id == current_user.id %>
            <h3>Users</h3>
            <%= content_tag :ul do %>
                <%= link_to(content_tag(:li, p.user.username), portfolio_path(p)) %> 
                <% p.orders.each do |o| %>
                    <% if o.status == "pending" %>
                        <p>Pending Order: <%= link_to o.symbol, edit_portfolio_order_path(portfolio_id: o.portfolio.id, id: o.id) %><p>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <% @portfolios.each do |p| %>
        <%= content_tag :ul do %>
            <%= link_to(content_tag(:li, p.name), portfolio_path(p)) %>
        <% end %>
    <% end %>
<% end %>