<%= link_to 'My portfolios', portfolios_path %> | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<h1><%= @portfolio.name %></h1>

<% if can? :crud, User %> 
    <%= link_to 'Delete Portfolio', @portfolio, method: "delete", data: { confirm: "Are you sure?" } %>
<% end %>

<span>Check out our <%= link_to 'stocks', industries_path(@portfolio) %></span>
<h3>Current Balance: $<%= @portfolio.balance %></h3> 

<% if @portfolio.orders.empty? %>
    Your portfolio is empty.
<% else %>
    <%= content_tag :ul do %>
        <% @portfolio.orders.each do |order| %>
            <%= content_tag(:li, order.symbol) %> <%= order.name.gsub('&#39;', '\'') %> <u>Status:</u> <strong><%= order.status %></strong> <u>Shares:</u> <strong><%= order.number_of_shares %></strong>
        <% end %>
    <% end %>
<% end %>


