<div id="portfolio-show-container" class="portfolio-container">
    <header>
        <div class="user">
            <h1>Hi, <%= current_user.username %>.<h1>
            <h3><%= @portfolio.name.capitalize %> Account / </h3>    
            <% if @portfolio.direction == "Down" %>
                <h3 class="down"> <%= @portfolio.direction %></h3>
            <% else %>
                <h3 class="up"> <%= @portfolio.direction %></h3>
            <% end %> 
            <h3> <%= number_with_precision(@portfolio.return_percentage, precision: 2) %>%</h3>
        </div>
        <div class="sign-links show">
            <%= link_to 'My portfolios', portfolios_path, class: "nav" %> 
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav" %> 
            <% if can? :crud, User %> 
                <%= link_to 'Delete Portfolio', @portfolio, method: "delete", data: { confirm: "Are you sure?" }, class: "nav" %>
            <% end %>
        </div>
    </header> 

    <div class="portfolios-container">
        <div id="balance-info">
            <span>Trading Balance: $<%= number_with_precision(@portfolio.current_balance, precision: 2) %></span> 
            <span>Holdings: $<%= number_with_precision(@portfolio.holdings, precision: 2) %></span>
            <span><%= link_to 'Research Stocks', industries_path(@portfolio) %></span>
        </div>

        <div class="stocks-container">
            <% if @portfolio.orders.empty? %>
                Your portfolio is empty.
            <% else %>
                <div class="orders-container">
                    <% @portfolio.orders.each do |order| %>
                        <div class="order-stock">
                            <h3><%= link_to "#{order.symbol} - #{order.name}", stocks_path(portfolio_id: @portfolio.id, slug: order.symbol) %></h3>

                            <div class="order-info">
                                <p>Total: <strong>$<%= number_with_precision((order.share_value), precision: 2) %></strong></p>
                                <p>Shares: <strong><%= order.number_of_shares %></strong></p>
                                <p>
                                    <% if order.status == "success" %>
                                        <%= link_to 'Request Sale', edit_portfolio_order_path(portfolio_id: @portfolio.id, id: order.id) %>
                                    <% elsif order.status == "pending" %>
                                        Status: Pending <%= link_to 'Cancel Trade', portfolio_order_path(portfolio_id: @portfolio.id, id: order.id), :method => :delete %>
                                    <% elsif order.status == "rejected" %>
                                        Status: Rejected <%= link_to 'Delete', portfolio_order_path(portfolio_id: @portfolio.id, id: order.id), :method => :delete %>
                                    <% elsif order.status == "pending sale" %>
                                        Status: Pending Sale
                                    <% else %>
                                        Status: Sold <%= link_to 'Delete', portfolio_order_path(portfolio_id: @portfolio.id, id: order.id), :method => :delete %>
                                    <% end %>
                                </p>
                                <% if order.status == "pending" %>
                                    <p>Held at: $<%= number_with_precision(order.purchase_price, precision: 2) %></p>
                                <% else %>
                                    <p>Bought at: $<%= number_with_precision(order.purchase_price, precision: 2) %></p>
                                <% end %>

                                <p>Current Price: <strong>$<%= number_with_precision(order.share_price, precision: 2) %></strong></p> 

                                <p><%= order.order_return_percentage %></p>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>

</div>


