
<div id="filter-div">
    <%= form_for :stock, url: complete_path, method: :put do |f| %>
        <%= f.collection_check_boxes(:id, Stock.all, :id, :name) do |s| %>
            <%= s.label class:"label-checkbox" do %>
                <%= s.check_box + s.text %>
            <% end %>
        <% end  %>
        <%= f.submit %>
    <% end %>
</div>

