<%= link_to 'My Portfolios', portfolios_path %>

<h1><%= @stock.symbol %></h1>
<h2><%= @stock.name %></h2>
<h3>Current Price: $<%= @prices["price"] %></h3>
<%= link_to 'Read More', @stock.summary_quote %>

