
<div class="sign-links">
    <%= link_to 'Reject Trade', portfolio_order_path(portfolio_id: @portfolio.id, id: @order.id), :method => :delete, class: "nav"%>
    <%= link_to 'Portfolio', portfolio_path(@order.portfolio), class: "nav" %>
</div>


<div class="form-container">
        <% if @order.status == "pending" && current_user.manager_role == true %>
            <%= render partial: "stock_info", locals: { order: @order, stock: @stock } %>
            <%= form_for @order, :html => {:class => 'edit-form'} do |o| %>
                <%= o.label :number_of_shares %>
                <%= o.number_field :number_of_shares %>
                <%= o.hidden_field :share_price %>
                <%= o.hidden_field :portfolio_id, :value => @portfolio.id %>
                <%= o.hidden_field :status, :value => "success" %>
                <%= o.submit 'Approve Trade' %>
            <% end %>
        <% end %>

        <% if @order.status == "success" %>
            <%= render partial: "stock_info", locals: { order: @order, stock: @stock } %>
            <%= form_for @order, :html => {:class => 'edit-form'} do |o| %>
                <%= o.label :number_of_shares %>
                <%= o.number_field :number_of_shares %>
                <%= o.hidden_field :share_price %>
                <%= o.hidden_field :status, :value => "pending sale" %>
                <%= o.hidden_field :portfolio_id, :value => @portfolio.id %>
                <%= o.submit 'Request Sale' %>
            <% end %>
        <% end %>


        <% if @order.status == "pending sale" && current_user.manager_role == true %>
            <%= render partial: "stock_info", locals: { order: @order, stock: @stock } %>
            <%= form_for @order, :html => {:class => 'edit-form'}, :method => :delete do |o| %>
                <%= o.label :number_of_shares %>
                <%= o.number_field :number_of_shares %>
                <%= o.hidden_field :share_price %>
                <%= o.hidden_field :status, :value => "sold" %>
                <%= o.hidden_field :portfolio_id, :value => @portfolio.id %>
                <%= o.submit 'Sell Stock' %>
            <% end %>
        <% end %>
    </div>



